<%= render("header_breadcrumb") %>
<div class="page-content">
  <%= render("layout_shares/admin/setting_container") %>

  <div class="page-header">
    <h1>
      文章管理
      <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        新增文章
      </small>
    </h1>
  </div><!-- /.page-header -->

  <div class="row">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <%= form_with url: admin_articles_manage_articles_path, class: "form-horizontal" do |f| %>

        <%= render partial: "admin/form_shares/f_text_field", locals: {f:f} %>

        <%= render partial: "admin/form_shares/f_long_text_field", locals: {f:f} %>


        <div class="space-4"></div>

        <%= render partial: "admin/form_shares/f_password_field", locals: {f:f} %>

        <div class="space-4"></div>

        <%= render partial: "admin/form_shares/f_readonly_field", locals: {f:f} %>


        <div class="space-4"></div>

        <%= render partial: "admin/form_shares/f_relative_field", locals: {f:f} %>

        <%= render partial: "admin/form_shares/f_grid_field", locals: {f:f} %>


        <div class="space-4"></div>

        <%= render partial: "admin/form_shares/f_field_with_tooltip_and_help", locals: {f:f} %>

        <div class="space-4"></div>

        <%= render partial: "admin/form_shares/f_tag_field", locals: {f:f} %>


        <%= render partial: "admin/form_shares/f_textarea", locals: {f:f} %>


        <div class="space-4"></div>

        <%= render partial: "admin/form_shares/f_select", locals: {f:f} %>

        <%= render partial: "admin/form_shares/f_multiple_select", locals: {f:f} %>


        <%= render partial: "admin/form_shares/f_chosen_select", locals: {f:f} %>

        <%= render partial: "admin/form_shares/f_multiple_select_2", locals: {f:f} %>


        <%= render partial: "admin/form_shares/f_checkbox", locals: {f:f} %>


        <%= render partial: "admin/form_shares/f_radio", locals: {f:f} %>

        <%= render partial: "admin/form_shares/f_file", locals: {f:f} %>


        <%= render partial: "admin/form_shares/f_date_picker", locals: {f:f} %>


        <%= render partial: "admin/form_shares/f_date_range_picker", locals: {f:f} %>

        <%= render partial: "admin/form_shares/f_on_or_off_switches", locals: {f:f} %>



        <div class="clearfix form-actions">
          <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="button">
              <i class="ace-icon fa fa-check bigger-110"></i>
              提交
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
              <i class="ace-icon fa fa-undo bigger-110"></i>
              重置
            </button>
          </div>
        </div>

        <div class="hr hr-24"></div>
      <% end %>



    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.page-content -->

<%= render("admin/form_shares/f_js") %>