<% if obj.user.present? %>
  <tr class="detail-row">
    <td colspan="8">
      <div class="table-detail">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="space visible-xs"></div>

            <div class="profile-user-info profile-user-info-striped">
              <div class="profile-info-row">
                <div class="profile-info-name"> Username </div>

                <div class="profile-info-value">
                  <span><%= obj.user.try(:username) if obj.user.present? %></span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Nickname </div>

                <div class="profile-info-value">
                  <span><%= obj.user.try(:nickname) if obj.user.present? %></span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Phone </div>

                <div class="profile-info-value">
                  <i class="fa fa-map-marker light-orange bigger-110"></i>
                  <span><%= obj.user.try(:phone) if obj.user.present? %></span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Gender </div>

                <div class="profile-info-value">
                  <span><%= obj.user.present? && obj.user.gender == 1 ? "男" : "女" %></span>
                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Joined </div>

                <div class="profile-info-value">
                  <span><%= format_time_yymmddhms(obj.user.created_at) if obj.user.present? %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
<% else %>
  <% if obj.ip_address.present? %>
    <tr class="detail-row">
      <td colspan="8">
        <div class="table-detail">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="space visible-xs"></div>

              <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                  <div class="profile-info-name"> IpAddress </div>

                  <div class="profile-info-value">
                    <span><%= obj.try(:ip_address) %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  <% else %>
  <% end %>
<% end %>