
<div class="col-xs-12 col-sm-8">
  <div class="page-header">
    <h4>记录学习的点点滴滴 <small>不积跬步无以至千里</small></h4>
  </div>
  <div class="content">
    <header class="article-header">
      <h1 class="article-title"><a href="#"><%= @article.try(:title) %></a></h1>
      <div class="article-meta ">
        <span class="item tags">来源：
          原创
        </span>
        <span class="item category">分类: &nbsp
          <a href="">
            <%=@article.category.present? ? @article.category.try(:name) : "暂无" %>
          </a>
        </span>
        <span class="item tags">标签：
          <% unless @article.tags.blank? %>
            <% @article.tags.each do |tag| %>
              <a href="">
                <%= tag.name %>
              </a>
            <% end %>
          <% else %>
            暂无标签
          <% end %>
        </span>
        <span class="item time "><i class="glyphicon glyphicon-time"></i> <%= @article.created_at.strftime("%Y-%m-%d") %></span>
        <span class="item likes"><i class="glyphicon glyphicon-heart-empty"></i> <%= @article.try(:liked_counter) %></span>
        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> <%= @article.try(:viewed_counter) %></span>
        <span class="item comment"><i class="glyphicon glyphicon-comment"></i> <%= @article.try(:comments_counter) %></span>
      </div>
    </header>


    <div id="test-editormd-view2">
      <textarea id="append-test" style="display:none;"><%= @article.try(:content) %></textarea>
    </div>

    <!--        <div class="title">-->
    <!--          <h3>评论</h3>-->
    <!--        </div>-->
    <!--        <div class="article-comment">-->
    <!--          <form action="" method="POST">-->
    <!--            <input type="text" class="form-control" placeholder="您的昵称（必填）">-->
    <!--            <input type="text" class="form-control" placeholder="您的邮箱或联系电话（非必填）">-->
    <!--            <textarea class="form-control" rows="3" placeholder="您的评论或留言（必填）"></textarea>-->
    <!--            <button type="button" class="btn btn-default">发布评论</button>-->
    <!--          </form>-->
    <!--        </div>-->

    <!--        <div class="postcomments">-->
    <!--          <ol class="commentlist">-->
    <!--            <li class="comment-content"><span class="comment-f">#2</span>-->
    <!--              <div class="comment-main">-->
    <!--                <p><a class="name" href="#" target="_blank">zx@reedo.cn</a><span class="time"> 2016/10/28 11:41:03</span><br>不错的网站主题，看着相当舒服</p>-->
    <!--              </div>-->
    <!--            </li>-->
    <!--            <li class="comment-content"><span class="comment-f">#2</span>-->
    <!--              <div class="comment-main">-->
    <!--                <p><a class="name" href="#" target="_blank">九日</a><span class="time"> 2016/10/28 11:41:03</span><br>不错的网站主题，看着相当舒服</p>-->
    <!--              </div>-->
    <!--            </li>-->
    <!--          </ol>-->
    <!--        </div>-->
  </div>
</div><!--/.col-xs-12.col-sm-9-->

<div class="col-xs-12 col-sm-4">
  <%= render("layout_shares/right_navbar") %>
</div><!--/.sidebar-offcanvas-->

<% content_for :extro_scripts do %>
  <script type="text/javascript">
      $(function() {
          var testEditormdView, testEditormdView2;

          testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
              htmlDecode      : "style,script,iframe",  // you can filter tags decode
              emoji           : true,
              taskList        : true,
              tex             : true,  // 默认不解析
              flowChart       : true,  // 默认不解析
              sequenceDiagram : true,  // 默认不解析
          });
      });
  </script>
<% end %>