<div class="col-xs-12 col-sm-8">
  <div class="page-header">
    <h4>记录学习的点点滴滴 <small>不积跬步无以至千里</small></h4>
  </div>
  <div class="content col-xs-12" style="margin-left: -15px;">
    <div class="title">
      <h3>最新发布</h3>
      <div class="more">
        <%= link_to "全部", root_path %>
        <% @categories.each do |category| %>
          <%= link_to category.try(:name), root_path(category_id:category.id,tag_id:params[:tag_id],create_time:params[:create_time]) %>
        <% end %>
      </div>
    </div>
    <% if @articles.blank?  %>
      <div class="excerpt">
        <%= image_tag("no_article.png",class: "img-responsive") %>
      </div>
    <% else %>
      <% @articles.each do |art| %>
        <div class="excerpt">
          <header>
            <%= link_to root_path(category_id:art.category_id),class:"cat" do %>
              <!--              <a class="cat" href="#">-->
              <%=art.category.present? ? art.category.try(:name) : "暂无" %> <i></i>
              <!--              </a>-->
            <% end %>
            <h2>
              <a href="/article_detail/<%= art.id %>">
                <%= art.try(:title) %>
              </a>
            </h2>
          </header>
          <p><%= art.try(:desp) %></p>
          <p class="meta">
            <a class="time" href="#"><i class="glyphicon glyphicon-time"></i> <%= art.created_at.strftime("%Y-%m-%d") %></a>
            <a class="likes" href="#"><i class="glyphicon glyphicon-heart-empty"></i> <%= art.try(:liked_counter) %></a>
            <a class="views" href="#"><i class="glyphicon glyphicon-eye-open"></i> <%= art.try(:viewed_counter) %></a>
            <a class="comment" href="#"><i class="glyphicon glyphicon-comment"></i> <%= art.try(:comments_counter) %></a>
          </p>
        </div>
      <% end %>
    <% end %>



<%= paginate @articles, theme: 'home' %>
  </div>
</div><!--/.col-xs-12.col-sm-9-->
<div class="col-xs-12 col-sm-4">
  <%= render("layout_shares/index_right_navbar") %>
</div><!--/.sidebar-offcanvas-->