<div class="row">
  <div class="col-xs-12">

    <table id="simple-table" class="table table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>名称</th>
        <th>创建时间</th>
        <th>是否展示</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% tags.each do |tag| %>
        <tr>

          <td class="center">
            <%= tag.id %>
          </td>

          <td>
            <a href="#"><%= tag.try(:name) %></a>
          </td>
          <td><%= format_time_yymmddhms(tag.created_at) %></td>

          <td><%= tag.status == 1 ? "是" : "否" %></td>

          <td>
            <div class="hidden-sm hidden-xs btn-group">
              <!--                    <button class="btn btn-xs btn-success">-->
              <!--                      <i class="ace-icon fa fa-check bigger-120"></i>-->
              <!--                    </button>-->

              <%= link_to edit_admin_articles_manage_tag_path(tag) do %>
                <button class="btn btn-xs btn-info">
                  <i class="ace-icon fa fa-pencil bigger-120"></i>
                </button>
              <% end %>

              <%#= link_to admin_articles_manage_article_path(article),method: :delete do %>
              <button class="btn btn-xs btn-danger bootbox-confirm-delete" data-href="<%= admin_articles_manage_tag_path(tag) %>">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
              </button>
              <%# end %>

              <!--                    <button class="btn btn-xs btn-warning">-->
              <!--                      <i class="ace-icon fa fa-flag bigger-120"></i>-->
              <!--                    </button>-->
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.span -->
</div><!-- /.row -->


<%= render partial: "kaminari/page_style", locals: { begin_count: begin_count, current_page: tags , theme: "admin" }%>