<ul class="nav nav-list">
  <li class="<%= is_active_controller("admin/home") %>">
    <a href="index.html">
      <i class="menu-icon fa fa-home"></i>
      <span class="menu-text"> 后台首页 </span>
    </a>

    <b class="arrow"></b>
  </li>

  <li class="<%= is_active_manage("admin/news_manage") %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-globe"></i>
      <span class="menu-text"> 资讯管理 </span>

      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
      <li class="<%= is_active_action("admin/news_manage/news", action_with_ine) %>">
        <a href="/admin/news_manage/news">
          <i class="menu-icon fa fa-caret-right"></i>
          资讯列表
        </a>

        <b class="arrow"></b>
      </li>

<!--      <li class="<%#= is_active_action("admin/news_manage/tasks", action_with_ine) %>">-->
<!--        <a href="/admin/news_manage/tasks">-->
<!--          <i class="menu-icon fa fa-caret-right"></i>-->
<!--          任务列表-->
<!--        </a>-->

<!--        <b class="arrow"></b>-->
<!--      </li>-->

      <li class="<%= is_active_action("admin/news_manage/categories", action_with_ine) %>">
        <a href="/admin/news_manage/categories">
          <i class="menu-icon fa fa-caret-right"></i>
          分类列表
        </a>

        <b class="arrow"></b>
      </li>


      <li class="<%= is_active_action("admin/news_manage/tags",action_with_ine) %>">
        <a href="/admin/news_manage/tags">
          <i class="menu-icon fa fa-caret-right"></i>
          标签列表
        </a>

        <b class="arrow"></b>
      </li>

      <li class="<%= is_active_action("admin/news_manage/comments", action_with_ine) %>">
        <a href="/admin/news_manage/comments">
          <i class="menu-icon fa fa-caret-right"></i>
          评论列表
        </a>

        <b class="arrow"></b>
      </li>

      <li class="<%= is_active_action("admin/news_manage/like_records", action_with_ine) %>">
        <a href="/admin/news_manage/like_records">
          <i class="menu-icon fa fa-caret-right"></i>
          点赞记录
        </a>

        <b class="arrow"></b>
      </li>

      <li class="<%= is_active_action("admin/news_manage/view_records", action_with_ine) %>">
        <a href="/admin/news_manage/view_records">
          <i class="menu-icon fa fa-caret-right"></i>
          访问记录
        </a>

        <b class="arrow"></b>
      </li>
    </ul>
  </li>

  <li class="<%= is_active_manage("admin/articles_manage") %>">
    <a href="#" class="dropdown-toggle">
      <i class="menu-icon fa fa-pencil-square-o"></i>
      <span class="menu-text"> 文章管理 </span>

      <b class="arrow fa fa-angle-down"></b>
    </a>

    <b class="arrow"></b>

    <ul class="submenu">
      <li class="<%= is_active_action("admin/articles_manage/articles", action_with_n) %>">
        <a href="/admin/articles_manage/articles/new">
          <i class="menu-icon fa fa-caret-right"></i>
          写文章
        </a>

        <b class="arrow"></b>
      </li>

      <li class="<%= is_active_action("admin/articles_manage/categories", action_with_ine) %>">
        <a href="/admin/articles_manage/categories">
          <i class="menu-icon fa fa-caret-right"></i>
          分类列表
        </a>

        <b class="arrow"></b>
      </li>


      <li class="<%= is_active_action("admin/articles_manage/tags",action_with_ine) %>">
        <a href="/admin/articles_manage/tags">
          <i class="menu-icon fa fa-caret-right"></i>
          标签列表
        </a>

        <b class="arrow"></b>
      </li>

      <li class="<%= is_active_action("admin/articles_manage/articles", action_with_in) %>">
        <a href="/admin/articles_manage/articles">
          <i class="menu-icon fa fa-caret-right"></i>
          文章列表
        </a>

        <b class="arrow"></b>
      </li>

      <li class="<%= is_active_action("admin/articles_manage/comments", action_with_ine) %>">
        <a href="/admin/articles_manage/comments">
          <i class="menu-icon fa fa-caret-right"></i>
          评论列表
        </a>

        <b class="arrow"></b>
      </li>

      <li class="<%= is_active_action("admin/articles_manage/like_records", action_with_ine) %>">
        <a href="/admin/articles_manage/like_records">
          <i class="menu-icon fa fa-caret-right"></i>
          点赞记录
        </a>

        <b class="arrow"></b>
      </li>

      <li class="<%= is_active_action("admin/articles_manage/view_records", action_with_ine) %>">
        <a href="/admin/articles_manage/view_records">
          <i class="menu-icon fa fa-caret-right"></i>
          访问记录
        </a>

        <b class="arrow"></b>
      </li>

    </ul>
  </li>

<!--  <li class="<%#= is_active_manage("admin/users_manage") %>">-->
<!--    <a href="#" class="dropdown-toggle">-->
<!--      <i class="menu-icon fa fa-users"></i>-->
<!--      <span class="menu-text"> 用户管理 </span>-->

<!--      <b class="arrow fa fa-angle-down"></b>-->
<!--    </a>-->

<!--    <b class="arrow"></b>-->

<!--    <ul class="submenu">-->
<!--      <li class="<%#= is_active_action("admin/users_manage/users", action_with_ine) %>">-->
<!--        <a href="profile.html">-->
<!--          <i class="menu-icon fa fa-caret-right"></i>-->
<!--          用户列表-->
<!--        </a>-->

<!--        <b class="arrow"></b>-->
<!--      </li>-->

<!--      <li class="<%#= is_active_action("admin/roles", action_with_ine) %>">-->
<!--        <a href="inbox.html">-->
<!--          <i class="menu-icon fa fa-caret-right"></i>-->
<!--          角色列表-->
<!--        </a>-->

<!--        <b class="arrow"></b>-->
<!--      </li>-->

<!--      <li class="<%#= is_active_action("admin/messages", action_with_ine) %>">-->
<!--        <a href="inbox.html">-->
<!--          <i class="menu-icon fa fa-caret-right"></i>-->
<!--          留言列表-->
<!--        </a>-->

<!--        <b class="arrow"></b>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->

<!--  <li class="<%#= is_active_controller("admin/setting") %>">-->
<!--    <a href="index.html">-->
<!--      <i class="menu-icon fa fa-cogs"></i>-->
<!--      <span class="menu-text"> 博客设置 </span>-->
<!--    </a>-->

<!--    <b class="arrow"></b>-->
<!--  </li>-->

</ul>

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
  <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>