<div class="row">
  <div class="col-xs-12">
    <table id="simple-table" class="table  table-bordered table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>名称</th>
        <th>创建时间</th>
        <th>是否展示</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% categories.each do |category| %>
        <tr>

          <td class="center">
            <%= category.id %>
          </td>

          <td>
            <a href="#"><%= category.try(:name) %></a>
          </td>
          <td><%= format_time_yymmddhms(category.created_at) %></td>

          <td><%= category.status == 1 ? "是" : "否" %></td>

          <td>
            <div class="hidden-sm hidden-xs btn-group">
              <!--                    <button class="btn btn-xs btn-success">-->
              <!--                      <i class="ace-icon fa fa-check bigger-120"></i>-->
              <!--                    </button>-->

              <%= link_to edit_admin_news_manage_category_path(category) do %>
                <button class="btn btn-xs btn-info">
                  <i class="ace-icon fa fa-pencil bigger-120"></i>
                </button>
              <% end %>

              <button class="btn btn-xs btn-danger bootbox-confirm-delete" data-href="<%= admin_news_manage_category_path(category) %>">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
              </button>

              <!--                    <button class="btn btn-xs btn-warning">-->
              <!--                      <i class="ace-icon fa fa-flag bigger-120"></i>-->
              <!--                    </button>-->
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.span -->
</div><!-- /.row -->


<%= render partial: "kaminari/page_style", locals: { begin_count: begin_count, current_page: categories , theme: "admin" }%>